<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GPA CALCULATOR</title>
    <link href="//cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/custom.css" rel="stylesheet">
    <script src="http://lib.sinaapp.com/js/jquery/1.9.1/jquery-1.9.1.min.js"></script>
    <script src="//cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="js/md5.js"></script>
    <script src="js/custom.js"></script>

</head>
<body>

<div class="container" >

    <form class="form-signin">
        <h2 class="form-signin-heading" style="text-align: center">绩点计算器</h2>

        <input type="text" id="user" class="form-control" placeholder="输入学号" required autofocus>

        <input type="password" id="pwd" class="form-control" placeholder="输入密码" required>

        <button class="btn btn-default btn-block" type="button" onclick="submitInfo()">计算</button>
    </form>
</div>
    <div class="container" >
    <div id="div" class="row">
        <table class="table table-hover" style="text-align: center,padding: 15px">

            <tbody>
            <tr>
                <td>平均学分绩点(GPA)</td>
                <td id="gpa"></td>
            </tr>
            <tr>
                <td>已修学分</td>
                <td id="credits"></td>
            </tr>
            </tbody>
        </table>
    </div>
        </div>

</body>
<script type="text/javascript">


</script>
</html>